.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
  width: 95%;
  height:10vh;
  margin: 2px auto;
  background-color: blue;
  color:white;
  font-size: 50px;
}
.main{
  width: 76%;
  height: 69vh;
  margin: 3px 3px;
  background-color: red;
  color:white;
  display: inline-flex;
  position: relative;
  flex-direction: row;
  margin-left: 25px;
}
.navigation{
  width: 17%;
  height:69vh;
  margin: 3px 3px;
  background-color: black;
  color:pink;
  font-size: 50px;
  display:inline-block;
  vertical-align: top;
  word-wrap: break-word;
}
.footer{
  width: 95%;
  height:17vh;
  margin: 6px auto;
  background-color: purple;
  color:white;
  font-size: 40px;
  display: block;
}
.subcontents{
  width: 20%;
  height: 200px;
  margin: auto;
  background-color: pink;
  color: white;
  font-size: 10px;
  z-index:10;
}


