.App {
  text-align: center;
  
  align-items: flex-start;
  
}
.childdiv{
  border-style: double;
  width: 35%;
  display: inline-flexbox;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

